.sections-sidebar {
  opacity: 0;
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;

}

.expand {
  opacity: 1;
  display: block;
}

.dropdown {
    position: relative;
    background-color: $lightest-gray;
}
.dropdown > ul {
    display: none;
    position: absolute;
    top: 0px;
    left: 103px;
    background-color: $lightest-gray;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
}
.dropdown:hover > ul {
    /* applies the following style to uls inside .dropdown */
    /* but only when .dropdown is being hovered over */
    display: block;
}

.sections-sidebar li {
  padding: 10px;
}

.sections-sidebar {
  background-color: $lightest-gray;
  border-right: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 5px;
  z-index: 1000;
}


.dropdown li {
    position: relative;
    padding: 10px 0;
    z-index: 1000;
}
// .dropdown li:after,
// .dropdown li:before {
//     content: "";
//     position: absolute;
//     right: 0;
//     top: 25%;
//     border-left: 5px solid gray;
//     border-top: 5px solid transparent;
//     border-bottom: 5px solid transparent;
//     width: 0;
//     height: 0;
// }
// .dropdown li:after {
//     right: 2px;
//     border-left: 5px solid white;
//     z-index: 1;
// }
